<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Tables</title>

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <%- include('partials/sidebar') %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <%- include('partials/topbar') %>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Daftar Pengajuan</h1>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Data Pengajuan</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Tanggal Pengajuan</th>
                      <th>Nama Pengajuan</th>
                      <th>Mata Anggaran</th>
                      <th>Jumlah Biaya</th>
                      <th>Bagian</th>
                      <th>Status</th>
                      <th>Lampiran</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% foundPengajuan.forEach(pengajuan =>{ %>
                    <tr>
                      <td><%= moment(pengajuan.tanggalPengajuan).format('l') %></td>
                      <td><%= pengajuan.namaPengajuan %></td>
                      <td><%= pengajuan.mak %></td>
                      <td><%= pengajuan.jumlahBiaya %></td>
                      <td><%= pengajuan.bagian %></td>
                      <td>
                        <% switch(pengajuan.approvalPPK){
                          case null: %>
                            <a href="#" class="btn btn-warning btn-sm">
                              <span class="text">Menunggu Persetujuan PPK</span>
                            </a>
                            <% break;
                          case false: %>
                            <a href="#" class="btn btn-danger btn-sm">
                              <span class="text">Pengajuan ditolak oleh PPK</span>
                            </a>
                            <% break;
                          case true: %>
                            <% switch(pengajuan.approvalPPSPM){
                              case null: %>
                                <a href="#" class="btn btn-info btn-sm">
                                  <span class="text">Menunggu Persetujuan PPSPM</span>
                                </a>
                                <% break;
                              case false: %>
                                <a href="#" class="btn btn-danger btn-sm">
                                  <span class="text">Pengajuan ditolak oleh PPSPM</span>
                                </a>
                                <% break;
                              case true: %>
                                <a href="#" class="btn btn-success btn-sm">
                                  <span class="text">Pengajuan Disetujui</span>
                                </a>
                                <% break;
                            }; %>
                            <% break;
                        }; %>
                      </td>
                      <td>
                        <a href="\documents\<%= pengajuan.lampiran %>" class="btn btn-primary btn-circle btn-sm">
                          <i class="fas fa-file"></i>
                        </a>
                        <% switch (currentUserType) {
                          case "PPK": %>
                            <a href="\approval-ppk-<%= pengajuan.id %>" class="btn btn-outline-primary btn-circle btn-sm">
                              <i class="fas fa-file-signature"></i>
                            </a>
                            <% break;
                          case "PPSPM": %>
                          <a href="\approval-ppspm-<%= pengajuan.id %>" class="btn btn-outline-primary btn-circle btn-sm">
                            <i class="fas fa-file-signature"></i>
                          </a>
                          <% break;
                        }; %>
                      </td>
                    </tr>
                    <% }); %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <%- include('partials/footer') %>
